
BODY, SPAN {
        font-family: Verdana, Tahoma, "Myriad Web",
        Syntax, sans-serif;
        color:  #000000;
        background: #FFF0F0;
        }

A {
        font-family: Verdana, Tahoma, "Myriad Web",
        Syntax, sans-serif;
	color: #E00000
}

A:visited {
        font-family: Verdana, Tahoma, "Myriad Web",
        Syntax, sans-serif;
	color: #FF4040
}

UL, OL, DL, DT, DD {
        font-family: Verdana, Tahoma, "Myriad Web",
        Syntax, sans-serif;
        color:  #000020;
        background: #FFF0F0;
        }

P {
        font-family: Verdana, Tahoma, "Myriad Web",
        Syntax, sans-serif;
	color: #200000
}

H1 {
        font-family: Verdana, Tahoma, "Myriad Web",
	Syntax, sans-serif;
	font-weight: bold; 
	size=90%
	color: #FFF0F0;
}

TH {
        font-family: Verdana, Tahoma, "Myriad Web",
        Syntax, sans-serif;
        color:  #FFFFF0;
        background: #C02020;
}

TD {
        font-family: Verdana, Tahoma, "Myriad Web",
        Syntax, sans-serif;
        color:  #200000;
        background: #F0F0F0;
	vertical-align: top
}

.layout {
        color:  #FFFFF0;
        background: #F0A0A0;
}

.main {
        color:  #200000;
        background: #FFF0F0;
}

.break {
        background: #FFFFF0;
}

TABLE {
      color: #000000
}

H2, H3 {
        font-family: Verdana, Tahoma, "Myriad Web", Syntax, sans-serif;
	color: #800000;	
        background: #FFF0F0;
	}
ADDRESS {
        font-family: Verdana, Tahoma, "Myriad Web",
        Syntax, sans-serif;
        color:  #F5F5F5;
        font-size: 80%;
        }

PRE     {
        font-family: 'Andale Mono', 'Monotype.com', "Courier New", 
        monospace;
        }

HR      {
        color:  #30E030;
        }

