body {
	padding:     2em 4em;
	font-size:   14pt;
	font-family: 'Palatino Linotype', 'Georgia', 'DejaVu Serif', serif;
	background:  #eee;
	color:       black
}
code, .pre, pre, pre a {
	color: gray
}
pre {
	margin: 0;
	border: 1px solid silver;
	font-size: 75%
}
.pre {
	background:  white;
	border:      1px solid;
	padding:     3px;
	overflow:    auto;
	font-family: monospace
}
dt {
	font-family: monospace
}
.breadcrumbs {
	font-size:  80%;
	padding:    3px;
	background: #f7f7f7
}
th {
	text-align:  left;
	font-weight: normal
}
table {
	border-collapse: collapse
}
th, td {
	border:         1px solid gray;
	padding:        6px;
	vertical-align: top;
}
em var {
	font-style: normal
}
li li li {
	font-size: 80%
}
dd {
	margin-bottom: 0.9ex
}
